<nb-card size="medium">
  <nb-card-body>
    <div class="details">
      <div class="title display-3 mb-3">
        FRESH FOOD MARKET
      </div>
      <div class="description mt-5 lead">
        <p class="text-justify"> the best food in the market... </p>
        <div class="logo" (click)="goToHome()">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbZZ3f270OYvCCZUtkZLbeXC0nhBBKNI_kvLDOCg1UNFSaehX-" alt="FRESH FOOD">
        </div>


      </div>
    </div>
  </nb-card-body>
</nb-card>
